@import "tailwindcss";


body {
  font-family: 'DM Sans', sans-serif;
  color: #212121;
  background-color: #fff;
}

.formColor{
  background-color: #f3f3f3;
}

li{
  list-style: none;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0%; }
}

.progress-bar {
  animation: shrink 2s linear forwards;
}